root = true

[*.{kt,kts}]
ktlint_standard_no-blank-line-in-list = disabled
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_kotlin_packages_to_use_import_on_demand =
